.DS_Store
labels.npy
photos.npy
captured_image.jpg
mnist_train.csv
mnist_test.csv
train_labels.npy
train_pixels.npy
__pycache__
openml
784_128_64_10.pkl
784_300_10.pkl
784_800_10.pkl
784_1024_10.pkl
!Dataset/Number1.jpg